<ActionBar title="Exercise 1 Layouts" class="appTitle"></ActionBar>

<DockLayout stretchLastChild="false">
    <Label text="left" dock="left" [class]="leftblock"></Label>
    <Label text="top" dock="top" class="{{topblock}} height10"></Label>
    <Label text="right" dock="right" [class]="rightblock"></Label>
    <Label text="bottom" dock="top" [class]="bottomblock"></Label>

    <StackLayout orientation="vertical">
        <StackLayout orientation="vertical" horizontalAlignment="center" class="firstOptions">
            <Button class="btn" text="Option 1" (tap)="optionOne()"></Button>
            <Button class="btn" text="Option 2" (tap)="optionTwo()"></Button>
            <Button class="btn" text="Option 3" (tap)="optionThree()"></Button>
        </StackLayout>

        <StackLayout orientation="horizontal" verticalAlignment="top" horizontalAlignment="center" class="topBlock2"
            width="100%">
            <label text="top" dock="top"></label>
            <Image [src]="imageView" stretch="none" width="300px" height="300px">
            </Image>
        </StackLayout>

        <WrapLayout orientation="vertical" alignment="right" class="secondOptions">
            <Button class="btn2" text="Option 4" (tap)="optionFour()"></Button>
            <Button class="btn2" text="Option 5" (tap)="optionFifth()"></Button>
            <Button class="btn2" text="Option 6" (tap)="optionSix()"></Button>
            <Label text="right" dock="right" class="bottomrightblock"></Label>
        </WrapLayout>
    </StackLayout>
</DockLayout>