<ActionBar title="Exercise 1 Layouts" class="appTitle"></ActionBar>
<!-- <StackLayout orientation="vertical" verticalAlignment="center"> -->
<DockLayout stretchLastChild="false">
    <Label text="left" dock="left" class="leftblock"></Label>
    <Label text="top" dock="top" class="topblock"></Label>
    <Label text="right" dock="right" class="rightblock"></Label>
    <!-- <Label text="bottom" dock="bottom" class="rightbottomblock"></Label> -->
    <Label text="top" dock="top" class="topblock2"></Label>
</DockLayout>
<StackLayout orientation="vertical" horizontalAlignment="center">
    <Label text="Yey" class="text"></Label>
    <Label text="Yay" class="text"></Label>
    <Label text="Yuy" class="text"></Label>
</StackLayout>
<!-- </StackLayout> -->